<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hobby</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body style="background-color: #111">

    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Guitar-Ra
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/modelos">
                    Modelos
                </a>
                <a class="navbar-item" href="/hobby">
                    Hobby
                </a>
                <a class="navbar-item" href="/contacto">
                    Contacto
                </a>
            </div>
    </nav>


    <section class="hero is-medium is-black">
        <div class="hero-body">
            <div class="title has-text-centered">HISTORIA</div>
        </div>
    </section>
    <section class="section is-black has-text-justified has-text-white ">
        <p class="is-size-6">
            La guitarra ha sufrido variaciones en su forma a lo largo de los siglos. Además del número de cuerdas, las
        variaciones del instrumento han surgido para adaptarlo a las necesidades del intérprete hasta adoptar la forma
        actual. Este instrumento está fabricado con madera prácticamente en su totalidad. Hoy en día se utilizan muy
        diversos tipos, aunque comúnmente los más empleados son principalmente la madera de palisandro de la India y
        otros: abeto, caoba, cedro de Canadá, pino, ciprés (muy popular entre las guitarras que se utilizan entre los
        guitarristas flamencos) y ébano. Hoy en día los constructores diferencian entre la construcción de un
        instrumento clásico o flamenco, aunque esto no siempre tenga criterios musicales o sonoros, y sí estéticos y de
        moda. Algunos afirman que las maderas o el tipo de construcción depende según la guitarra sea clásica o
        flamenca,​ aunque los hechos indican que durante muchos años en el siglo XX los guitarreros no llevaran a cabo
        esas diferenciaciones.
        </p>
    </section>




    <footer class="footer has-text-centered">
        Hecho por <b>Darwin Ramos 2017-4793</b>
    </footer>

</body>

</html>