<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modelos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body style="background-color: #111">

    <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Guitar-Ra
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/modelos">
                    Modelos
                </a>
                <a class="navbar-item" href="/hobby">
                    Hobby
                </a>
                <a class="navbar-item" href="/contacto">
                    Contacto
                </a>
            </div>
    </nav>


    
    <section class="section is-black" style="background:black">
        <div class="container">
        <div class="title has-text-centered has-text-white">Modelos</div>

        <div class="block">
            <img src="../public/img/2.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                Prestige 5000 Series
            </div>
        </div>
        <div class="block">
            <img src="../public/img/3.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                The Artcore Vibrante Series
            </div>
        </div>
        <div class="block">
            <img src="../public/img/4.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                AE Series 2019
            </div>
        </div>

        <div class="block">
            <img src="../public/img/5.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                Prestige 5000 Series
            </div>
        </div>
        <div class="block">
            <img src="../public/img/6.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                The Artcore Vibrante Series
            </div>
        </div>
        <div class="block">
            <img src="../public/img/7.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                AE Series 2019
            </div>
        </div>

        <div class="block">
            <img src="../public/img/8.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                Prestige 5000 Series
            </div>
        </div>
        <div class="block">
            <img src="../public/img/9.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                The Artcore Vibrante Series
            </div>
        </div>
        <div class="block">
            <img src="../public/img/10.jpg" alt="">
            <div class="subtitle text has-text-centered has-text-white">
                AE Series 2019
            </div>
        </div>

        </div>
    </section>
        


    <footer class="footer has-text-centered">
        Hecho por <b>Darwin Ramos 2017-4793</b>
    </footer>

</body>

</html>